<!doctype html>
<html lang="en" ng-app="ngAnimate">
<head>
  <meta charset="UTF-8">
  <title>Koru UX Design</title>
  <link rel="stylesheet" href="<%= css %>">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <script src="<%= js %>"></script>
</head>
<body>
  <div class="row">
    <div class="large-12">
      <div id="view" ng-view></div>
    </div>
  </div>
</body>
</html>
